<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <div class="content">
        <h2>CRUD app</h2>
        <div>
            <label> Name:
                <input type="text" name="name" id="name-input" placeholder="insert entry name">

            </label>
            <button class="add-btn">Add</button>
        </div>

        <div>
            <label>
                <input type="text" name="pattern" id="search-input" placeholder="insert search pattern">

            </label>
            <button class="search-btn">Search</button>
        </div>

        <div class="sort">
            <h3>Sort</h3>
            <button class="sort-btn">
                <span class="sort-toggle"></span>
            </button>
        </div>
        <table class="data">
            <thead>
            <tr>
                <th>ID</th>
                <th>Time</th>
                <th>Name</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
        <div hidden class="edit">
            <label>
                <input type="text" name="edit-name" id="edit-name" placeholder="insert new value">
            </label>
            <button class="edit-submit">Update</button>
            <button class="edit-cancel">Cancel</button>
        </div>
    </div>


</body>
</html>