<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <div class="content">
        <h2>CRUD app</h2>
        <div>
            <label> Name:
                <input type="text" name="name" id="name-input" placeholder="insert entry name">

            </label>
            <button class="add-btn">Add</button>
        </div>

        <div>
            <label>
                <input type="text" name="pattern" id="search-input" placeholder="insert search pattern">

            </label>
            <button class="search-btn">Search</button>
        </div>
        <table class="data">
            <caption>Entries</caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Name</th>
            </tr>
            </thead>

            <tr>
                <td colspan="3">No data here</td>
            </tr>
        </table>
    </div>


</body>
</html>